# **2022** IPL Auction Dataset
The IPL 2022 Mega Player auction have featured a total of 600 players who were set to go under the hammer in Bengaluru. The initial list had over 1000 cricketers who had registered for the auction. However, the final list was trimmed to 590. There was a total of 217 slots spread across ten franchises up for grabs. Among the 600 players, 229 are capped players, 371 are uncapped players

<img src='https://www.crictracker.com/wp-content/uploads/2022/03/IPL-2022-Schedule-Announcement.jpeg'>

In [2]:
!pip install opendatasets -q

Required Library Import

In [61]:
import opendatasets as od
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [62]:
DATASET_URL = 'https://www.kaggle.com/shivavashishtha/2022-ipl-auction-dataset'
od.download(DATASET_URL)

Skipping, found downloaded files in "./2022-ipl-auction-dataset" (use force=True to force download)

In [63]:
df = pd.read_csv('2022-ipl-auction-dataset/ipl_2022_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       633 non-null    int64
 1   Player           633 non-null    object
 2   Base Price       633 non-null    object
 3   TYPE             633 non-null    object
 4   COST IN ₹ (CR.)  237 non-null    float64
 5   Cost IN $ (000)  237 non-null    float64
 6   2021 Squad       199 non-null    object
 7   Team             633 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 39.7+ KB

### Removing Column Which are not required

In [64]:
df = df[['Player','TYPE','COST IN ₹ (CR.)','2021 Squad','Team']]

In [65]:
df

,Player,TYPE,COST IN ₹ (CR.),2021 Squad,Team
0,Rashid Khan,BOWLER,15.0,SRH,Gujarat Titans
1,Hardik Pandya,ALL-ROUNDER,15.0,MI,Gujarat Titans
2,Lockie Ferguson,BOWLER,10.0,KKR,Gujarat Titans
3,Rahul Tewatia,ALL-ROUNDER,9.0,RR,Gujarat Titans
4,Shubman Gill,BATTER,8.0,KKR,Gujarat Titans
...,...,...,...,...,...
628,Sairaj Patil,BATTER,NaN,NaN,Unsold
629,Monu Singh,BOWLER,NaN,NaN,Unsold
630,Nivethan Radhakrishnan,BOWLER,NaN,NaN,Unsold
631,Lance Morris,BOWLER,NaN,NaN,Unsold
632,Aaron Hardie,ALL-ROUNDER,NaN,NaN,Unsold

### Removing Unsold Players data rows

In [66]:
df = df[df.Team != 'Unsold']
df

,Player,TYPE,COST IN ₹ (CR.),2021 Squad,Team
0,Rashid Khan,BOWLER,15.0,SRH,Gujarat Titans
1,Hardik Pandya,ALL-ROUNDER,15.0,MI,Gujarat Titans
2,Lockie Ferguson,BOWLER,10.0,KKR,Gujarat Titans
3,Rahul Tewatia,ALL-ROUNDER,9.0,RR,Gujarat Titans
4,Shubman Gill,BATTER,8.0,KKR,Gujarat Titans
...,...,...,...,...,...
232,Priyam Garg,BATTER,0.2,SRH,Sunrisers Hyderabad
233,R Samarth,BATTER,0.2,NaN,Sunrisers Hyderabad
234,Jagadeesha Suchith,BOWLER,0.2,SRH,Sunrisers Hyderabad
235,Shashank Singh,ALL-ROUNDER,0.2,NaN,Sunrisers Hyderabad
236,Saurabh Dubey,BOWLER,0.2,NaN,Sunrisers Hyderabad

In [67]:
df.shape

(237, 5)

EXPLORATORY DATA ANALYSIS

In [68]:
pd.Series(pd.unique(df['Team']))

0                 Gujarat Titans
1            Chennai Super Kings
2                 Delhi Capitals
3          Kolkata Knight Riders
4                   Punjab Kings
5           Lucknow Super Giants
6                 Mumbai Indians
7    Royal Challengers Bangalore
8               Rajasthan Royals
9            Sunrisers Hyderabad
dtype: object

There are **10** teams in IPL this year

In [69]:
expenditure_df = df.groupby('Team')['COST IN ₹ (CR.)'].sum()
expenditure_df=expenditure_df.reset_index()
expenditure_df = expenditure_df.rename({"COST IN ₹ (CR.)":"Expenditure (Cr.)"},axis='columns')
expenditure_df = expenditure_df.sort_values("Expenditure (Cr.)", ascending=False)

cm = sns.light_palette("red", as_cmap=True)
expenditure_df.style.background_gradient(cmap=cm)

In [70]:
fig = px.bar(expenditure_df, x='Team', y='Expenditure (Cr.)',text_auto=True,template='xgridoff', color='Team')
fig.show()

* Mumbai indian and Sunrisers hyderabad has the highest expediture this year IPL
* Punjab Kings and Kolkata Knight Riders are having lowest Expenditure this year

In [71]:
fig = px.histogram(df, x="COST IN ₹ (CR.)",template='xgridoff',title =' Price distribution of the IPL Auction 2022')
fig.show()



*  Most Of the Player around 96 are Sold in between 0 - 0.99 Crore
*  Only 3 Player are Sold For 16 - 16.99 crore
*  Only 1 player is sold for 17 - 17.99 crore

In [81]:
fig= px.bar(df.nlargest(10, 'COST IN ₹ (CR.)'),x='COST IN ₹ (CR.)',y='Player',color='Team',hover_name='TYPE',orientation='h',template='xgridoff',text_auto=True,title='Top 10 Highest Sold Player')
fig.update_layout(yaxis={'tickangle': 50},margin=dict(l=95),)
fig.show()

* Kl Rahul (Wicket Keeper) Lucknow Super Giants are sold for the highest 17 Crore

In [82]:
fig= px.bar((df[df.TYPE == 'BOWLER']).nlargest(10,'COST IN ₹ (CR.)'),x='COST IN ₹ (CR.)',y='Player',color='Team',orientation='h',template='xgridoff',text_auto=True,title='Top 10 Hisghest Sold Bowler')
fig.update_layout(yaxis={'tickangle': 50},margin=dict(l=95),)
fig.show()